<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- Style -->
    <link rel="stylesheet" href="style.css">
    <title>Find LinkedIn Profile Link</title>
    
</head>
<body>
    <div class="d-lg-flex half">
      <div class="bg order-2 order-sm-1" style="background-image: url('img4.jpg');"></div>
      <div class="contents order-2 order-md-1">
        
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7">
              <form action="#" method="post">
                <div class="form-group first">
                  <div class="container">
                    <div class="main">
                      <div class="content">
                      <p class="mainHead">Hey there&nbsp;<span class="wave">👋</span></p>
                      <p class="subHead1">Wanna find your Linkedin Account</p>
                      <p class="subHead2 mb-4">Enter your email id and click Submit !</p>
                      </div>
                  </div>
                  <label for="username">Email id</label>
                  <input type="text" class="form-control" placeholder="your-email@gmail.com" id="username">
                </div><br>
                
                <input type="submit" value="Submit" class="btn btn-block btn-primary">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>